@font-face {
    font-family: 'Ortica';
    src: url('/fonts/ORTICA-LIGHTMOD.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ortica';
    src: url('/fonts/ORTICA-BOLD.OTF') format('truetype');
    font-weight: bold;
    font-style: normal;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    background-color: #4a5d75;
}
header {
    width: 100%;
    background-color: #2c3e50;
    text-align: center;
}
h1 {
    font-family: 'Ortica', sans-serif; /* Cambiato in Ortica */
    color: #FFF;
    font-size: 2.3em;
    font-weight: bold;
}
em {
    color: #b0c4de;
}
.wrapper {
    width: 90%;
    margin: 20px auto;
    padding: 0 10px;
}
div.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
div.gallery ul {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
}
div.gallery ul li {
    width: 100%;
    margin: 10px 0;
}
div.gallery ul li img {
    width: 100%;
    height: auto;
    border: 5px solid #fff;
    background: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}
button {
    font-family: 'Ortica', sans-serif; /* Cambiato in Ortica */
    font-weight: bold;
}
/* Responsive adjustments */
@media only screen and (max-width: 768px) {
    .wrapper {
        width: 100%;
    }
    div.gallery ul li {
        margin: 5px 0;
    }
}
