@font-face {
    font-family: 'Ortica';
    src: url('/fonts/ORTICA-LIGHTMOD.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ortica';
    src: url('/fonts/ORTICA-BOLD.OTF') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    padding: 1rem;
    font-family: 'Ortica', sans-serif;
    background: rgba(20, 20, 20, 1);
    box-sizing: border-box;
}

header {
    background-color: #f4f4f4;
    padding: 1vw;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

h1 {
    font-family: 'Ortica', sans-serif;
    font-weight: bold;
    color: #FFF;
    font-size: 2.5rem;
    margin: 0;
    text-align: center;
    flex-grow: 0;
}

em {
    color: #232027;
}

.wrapper {
    max-width: 100%;
    width: 90%;
    margin: 40px auto;
}

.subheader {
    background-color: #f4f4f4;
    padding: 1vw;
    text-align: center;
    width: 100%;
}

p.attribution {
    font-family: 'Ortica', monospace;
    font-weight: bold;
    color: #000;
    text-align: center;
    line-height: 1.5;
    margin: 0;
    padding: 1vw 0;
}

p.attribution a {
    color: #4c8d7c;
}

img {
    width: 100%;
    aspect-ratio: 3 / 4; /* Ratio for A3 print */
    object-fit: cover;
    border: 10px solid white; /* White border */
    box-sizing: border-box;
    transition: transform 1000ms;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(3, 1fr); /* Three columns by default */
    max-width: 70%; /* Occupies a central column */
    margin: 0 auto;
}

@media (max-width: 1024px) {
    ul {
        grid-template-columns: repeat(2, 1fr); /* Two columns on smaller screens */
    }
}

@media (max-width: 768px) {
    ul {
        grid-template-columns: 1fr; /* Single column on very small screens */
    }
}

figure {
    margin: 0;
    position: relative;
    overflow: hidden;
}

figure::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 200%;
    background: rgba(0, 0, 0, 0.5);
    transform-origin: center;
    opacity: 0;
    transform: scale(2);
    transition: opacity 300ms;
}

figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    color: white;
    font-size: 1.2rem;
    z-index: 1;
    opacity: 0;
    transition: opacity 600ms, transform 600ms;
}

a:hover figure::after,
a:focus figure::after {
    opacity: 1;
    transform: scale(2.5);
    transition: transform 900ms;
}

a:hover figcaption,
a:focus figcaption {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: opacity 600ms 400ms, transform 600ms 400ms;
}

a:hover img,
a:focus img {
    transform: scale(1.2);
}

/* New styles for the button */
button {
    background-color: #4c8d7c;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-family: 'Ortica', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 300ms;
    position: absolute;
    right: 2vw;
}

button:hover {
    background-color: #3b6d5e;
}
